<div style="width: 1440px; height: 800px; position: relative; background: white">
    <div style="width: 1600px; height: 100px; left: -80px; top: -13px; position: absolute; background: #D9D9D9"></div>
    <div style="left: 656px; top: 13px; position: absolute; color: black; font-size: 40px; font-family: Inter; font-weight: 400; word-wrap: break-word">HELLO</div>
    <div style="width: 200px; height: 200px; left: 620px; top: 530px; position: absolute; background: #D9D9D9"></div>
    <div style="left: 51px; top: 144px; position: absolute; color: black; font-size: 40px; font-family: Inter; font-weight: 400; word-wrap: break-word">K;ejkw’n<br/>e;vjw’ek’w<br/>e’;vw’kb</div>
</div>