<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/cabinet.css"> <!-- Include your CSS file -->
    <title>User Cabinet</title>
</head>
<body>
<div class="container">
    <header class="header">
        <h1 class="logo">Yata Marketplace</h1>

        <nav class="nav">
            <ul class="nav-list">
                <li><a href="signup.html">Sign Up</a></li>
                <li><a href="login.html">Log In</a></li>
                <li><a href="shop.html">Shop</a></li>
                <li><a href="developers.html">Developers</a></li>
                <li><a href="home.html">Home</a></li>
                <li><a href="cabinet.html"><i class="fa fa-user"></i> <span id="userUsername"></span></a></li>
            </ul>
        </nav>
    </header>

    <main class="main">
        <h1 class="hero-title">User Cabinet</h1>
        <div class="user-info">
            <!-- Display user information here -->
            <p><strong>Username:</strong> <span id="username"></span></p>
            <p><strong>Email:</strong> <span id="email"></span></p>
            <!-- Add more user information as needed -->
        </div>
    </main>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="js/cookie.js"></script>
<script src="js/cabinet.js"></script> <!-- Include your JavaScript file -->
</body>
</html>
