<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Developers Information</title>
    <!-- Your existing styles go here -->
</head>
<body>
<div style="width: 1080px; height: 760px; position: relative; background: white">
    <div style="left: 517px; top: 25px; position: absolute"><span style="color: black; font-size: 48px; font-family: Inter; font-weight: 400; word-wrap: break-word">About </span><span style="color: #00F0FF; font-size: 48px; font-family: Inter; font-weight: 400; word-wrap: break-word">Developers</span></div>

    <-- Developer 1 -->
    <div style="width: 300px; height: 520px; left: 53px; top: 120px; position: absolute">
        <div style="width: 300px; height: 520px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 30px; border: 2px #00F0FF solid"></div>
        <div style="left: 13px; top: 399px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Gender: Male</div>
        <div style="left: 13px; top: 465px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Position: Back-End Dev</div>
        <div style="left: 13px; top: 432px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Major: Software Engineering</div>
        <div style="left: 13px; top: 300px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Name: Alisher</div>
        <div style="left: 13px; top: 366px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Student ID: 21172514</div>
        <div style="left: 13px; top: 333px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Surname: Khudoyberdiev</div>
        <img style="width: 275px; height: 275px; left: 13px; top: 11px; position: absolute; border-radius: 30px" src="https://drive.google.com/uc?id=1A4ytsnd1RzdwMAuEhhAxDi94dkHpbnKB" />
    </div>

    <-- Developer 2 -->
    <div style="width: 300px; height: 520px; left: 396px; top: 120px; position: absolute">
        <div style="width: 300px; height: 520px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 30px; border: 2px #00F0FF solid"></div>
        <img style="width: 275px; height: 275px; left: 13px; top: 11px; position: absolute; border-radius: 30px" src="https://drive.google.com/uc?id=1fzmd_JL5JRBZxOnEYC4RN1LXQw5x11v6" />
        <div style="width: 127px; height: 22px; left: 13px; top: 399px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Gender: Male</div>
        <div style="width: 220px; height: 22px; left: 13px; top: 465px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Position: Back-End Dev</div>
        <div style="width: 268px; height: 22px; left: 13px; top: 432px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Major: Computer Science</div>
        <div style="width: 131px; height: 22px; left: 13px; top: 300px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Name: Yerkin</div>
        <div style="width: 220px; height: 22px; left: 13px; top: 366px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Student ID: 21170924</div>
        <div style="width: 238px; height: 22px; left: 13px; top: 333px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Surname: Uzakov</div>
    </div>

    <-- Developer 3 -->
    <div style="width: 300px; height: 520px; left: 739px; top: 120px; position: absolute">
        <div style="width: 300px; height: 520px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 30px; border: 2px #00F0FF solid"></div>
        <img style="width: 275px; height: 275px; left: 13px; top: 11px; position: absolute; border-radius: 30px" src="https://drive.google.com/uc?id=11VB2y9c8p14kHSyj40EEaSukuBtuCcdp" />
        <div style="width: 127px; height: 22px; left: 13px; top: 399px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Gender: Male</div>
        <div style="width: 268px; height: 22px; left: 13px; top: 465px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Position: Front-End Dev</div>
        <div style="width: 268px; height: 22px; left: 13px; top: 432px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Major: Computer Science</div>
        <div style="width: 131px; height: 22px; left: 13px; top: 300px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Name: Alibek</div>
        <div style="width: 220px; height: 22px; left: 13px; top: 366px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Student ID: 21170926</div>
        <div style="width: 238px; height: 22px; left: 13px; top: 333px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Surname: Aubakirov</div>
    </div>

    <-- Developer 4 -->
    <div style="width: 300px; height: 520px; left: 1082px; top: 120px; position: absolute">
        <div style="width: 300px; height: 520px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 30px; border: 2px #00F0FF solid"></div>
        <img style="width: 275px; height: 275px; left: 13px; top: 11px; position: absolute; border-radius: 30px" src="https://drive.google.com/uc?id=14vTlwzaOIvwlgRWAo-i-U-pr-ocIH7nE" />
        <div style="width: 127px; height: 22px; left: 13px; top: 399px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Gender: Male</div>
        <div style="width: 268px; height: 22px; left: 13px; top: 465px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Position: Front-End Dev</div>
        <div style="width: 268px; height: 22px; left: 13px; top: 432px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Major: Computer Science</div>
        <div style="width: 275px; height: 22px; left: 13px; top: 300px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Name: Tileuberdi</div>
        <div style="width: 220px; height: 22px; left: 13px; top: 366px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Student ID: 21170925</div>
        <div style="width: 238px; height: 22px; left: 13px; top: 333px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Surname: Toleubekov</div>
    </div>

    <div style="left: 493px; top: 723px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Yata Marketplace ©. All rights reserved. 2024</div>
</div>
</body>
</html>