<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Yata Marketplace</title>
    <link rel="stylesheet" href="css/developers.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>

<div class="container">
    <header class="header">
        <h1 class="logo">Yata Marketplace</h1>

        <nav class="nav">
            <ul class="nav-list">
                <li><a href="signup.html">Sign Up</a></li>
                <li><a href="login.html">Log In</a></li>
                <li><a href="shop.html">Shop</a></li>
                <li><a href="developers.html">Developers</a></li>
                <li><a href="home.html">Home</a></li>
            </ul>
        </nav>
    </header>

    <main class="main">
        <section class="hero">
            <h2 class="hero-title">About Developers</h2>
        </section>
    </main>

    <div class="developers-container">
        <div class="developer-card">
            <img src="images/Alisher.jpg" alt="Developer 1">
            <p>Name: Alisher</p>
            <p>Surname: Khudoyberdiev</p>
            <p>Major: Software Engineering</p>
            <p>Student ID: 21172514</p>
            <p>Position: Back-End Developer</p>
        </div>

        <div class="developer-card">
            <img src="images/Yerkin.jpg" alt="Developer 2">
            <p>Name: Yerkin</p>
            <p>Surname: Uzakov</p>
            <p>Major: Computer Science</p>
            <p>Student ID: 21170924</p>
            <p>Position: Back-End Developer</p>
        </div>

        <div class="developer-card">
            <img src="images/Alibek.jpg" alt="Developer 3">
            <p>Name: Alibek</p>
            <p>Surname: Aubakirov</p>
            <p>Major: Computer Science</p>
            <p>Student ID: 21170926</p>
            <p>Position: Front-End Developer</p>
        </div>

        <div class="developer-card">
            <img src="images/Tolik.jpg" alt="Developer 4">
            <p>Name: Tileuberdi</p>
            <p>Surname: Toleubekov</p>
            <p>Major: Computer Science</p>
            <p>Student ID: 21170925</p>
            <p>Position: Front-End Developer</p>
        </div>
    </div>


</div>
</html>