<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yata Marketplace</title>
    <link rel="stylesheet" href="css/styles.css"> <!-- Create a separate CSS file for styles -->
    <!-- Add this line in the <head> section of your HTML -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <header class="header">
        <h1 class="logo">Yata Marketplace</h1>

        <!--        <section class="search-container">-->
        <!--            <input type="text" class="search-input" placeholder="Type anything">-->
        <!--            <button class="search-button">Search</button>-->
        <!--        </section>-->

        <nav class="nav">
            <ul class="nav-list">
                <li><a href="signup.html">Sign Up</a></li>
                <li><a href="login.html">Log In</a></li>
                <li><a href="shop.html">Shop</a></li>
                <li><a href="developers.html">Developers</a></li>
                <li><a href="home.html">Home</a></li>
                <li><a href="cabinet.html"><i class="fa fa-user"></i> <span id="userUsername"></span></a></li>
            </ul>
        </nav>
        <!-- Add this code to display the user's username and icon -->


    </header>


    <main class="main">
        <section class="hero">
            <h2 class="hero-title">The only place where you can find anything you want</h2>
        </section>

    </main>
</div>

<script src="js/home.js"></script> <!-- Create a separate JS file for scripts -->
</body>
</html>
