<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css"> <!-- Include your CSS file -->
    <title>Login</title>
</head>
<body>
<div class="container">

    <header class="header">
        <h1 class="logo">Yata Marketplace</h1>

        <nav class="nav">
            <ul class="nav-list">
                <li><a href="signup.html">Sign Up</a></li>
                <li><a href="login.html">Log In</a></li>
                <li><a href="shop.html">Shop</a></li>
                <li><a href="developers.html">Developers</a></li>
                <li><a href="home.html">Home</a></li>
                <li><i class="fa fa-user"></i> <span id="userUsername"></span></li>
            </ul>
        </nav>
    </header>

    <main class="main">
        <h1 class="hero-title">Log in</h1>
        <div class="login-form">
            <form id="loginForm">
                <input type="text" class="input" placeholder="Email" id="loginEmail">
                <input type="password" class="input" placeholder="Password" id="loginPassword">
                <button class="submit-button">Login</button>
            </form>
        </div>
    </main>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="js/cookie.js"></script>
<script src="js/login.js"></script> <!-- Include your JavaScript file -->
</body>
</html>
