<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clickable Buttons</title>
    <style>

        .clickable {
            cursor: pointer;
        }
    </style>
</head>
<body>
<div style="width: 1080px; height: 760px; position: relative; background: white">
    <div style="width: 758px; height: 39px; left: 651px; top: 73px; position: absolute; color: black; font-size: 40px; font-family: Inter; font-weight: 400; word-wrap: break-word">Name: </div>
    <div style="width: 758px; height: 444px; left: 651px; top: 194px; position: absolute; color: black; font-size: 40px; font-family: Inter; font-weight: 400; word-wrap: break-word">Description: <br/></div>
    <div style="width: 758px; left: 651px; top: 133px; position: absolute; color: black; font-size: 40px; font-family: Inter; font-weight: 400; word-wrap: break-word">Price: </div>

    <div id="purchaseButton" class="clickable" style="width: 236px; height: 70px; left: 41px; top: 568px; position: absolute; background: #00F0FF; border-radius: 30px">
        <div style="width: 217.15px; left: 30.85px; top: 10px; position: absolute; color: white; font-size: 40px; font-family: Inter; font-weight: 400; word-wrap: break-word">Purchase</div>
    </div>

    <div id="wishlistButton" class="clickable" style="width: 322px; height: 70px; left: 41px; top: 671px; position: absolute; background: white; border-radius: 30px; border: 2px #00F0FF solid">
        <div style="width: 284px; height: 46.67px; left: 19px; top: 9.72px; position: absolute; color: #00F0FF; font-size: 40px; font-family: Inter; font-weight: 400; word-wrap: break-word">Add to Wishlist</div>
    </div>

    <div style="width: 600px; height: 500px; left: 0px; top: 35px; position: absolute; background: white; border: 1px black solid"></div>
</div>

<script>
    document.getElementById('purchaseButton').addEventListener('click', function() {
        // Add your JavaScript code for the "Purchase" button here
        alert("Purchase button clicked!");
    });

    document.getElementById('wishlistButton').addEventListener('click', function() {
        // Add your JavaScript code for the "Add to Wishlist" button here
        alert("Add to Wishlist button clicked!");
    });
</script>
</body>
</html>
