<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/signup.css">
    <title>Sign Up</title>
</head>
<body>
<div class="container">
    <main class="main">
        <h1 class="hero-title">Sign Up</h1>
        <div class="sign-up-form">
            <form id="registrationForm">
                <input type="text" class="input" placeholder="Username" id="username">
                <input type="email" class="input" placeholder="Email" id="email">
                <input type="password" class="input" placeholder="Password" id="password">
                <button class="submit-button">Sign Up</button>
            </form>
        </div>
    </main>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="js/signup.js"></script>

</body>
</html>