:root {
    --primary-color: #6a82fb;  /* primary color for background */
    --secondary-color: #fc5c7d; /* secondary color for background */
    --font-color: #ffffff;      /* general font color for good contrast */
    --accent-font-color: #333333; /* accent color for headings or important text */
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: linear-gradient(135deg, var(--primary-color) 0%, var(--secondary-color) 100%);
    color: var(--font-color); /* using the defined font color */
}

/* Update specific elements as needed to use the accent font color */
.header, .logo, .nav-list a {
    color: var(--accent-font-color); /* This color is for better visibility and emphasis */
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.your-element {
    display: block;
    padding: 1px;
    border: 1px solid #ccc;
    cursor: pointer; /* Set the default cursor style */
}

.your-element:hover {
    background-color: #f0f0f0; /* Add your desired hover effect */
    color: #333; /* Add your desired text color on hover */
}

/* styles.css */
.logo {
    font-family: 'Poppins', sans-serif; /* Modern font */
    font-size: 48px; /* Adjust size to suit your design */
    font-weight: 600; /* 600 is semi-bold, makes the text stand out */
    color: #333; /* Dark color for contrast, or choose another modern color */
    text-transform: uppercase; /* Optional: makes it more impactful */
    letter-spacing: 1px; /* Slightly spread out the letters */
    /* Optional: Add a subtle text shadow for depth */
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

.developers-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}

.developer-card {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin: 15px;
    width: 300px;
}

.developer-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.developer-card h2 {
    text-align: left;
    margin: 10px 0;
}

.developer-card p {
    padding: 0px 5px 5px 15px;
    text-align: left;
    margin: 5px 0;
    color: #555;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-list li {
    margin-right: 20px;
    position: relative;
}

.nav-list li:last-child {
    margin-right: 0;
}

.nav-list a {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400; /* Regular weight */
    color: #333; /* Dark color for better contrast */
    text-transform: uppercase; /* Consistency in design */
    letter-spacing: 1px; /* Spacing out letters */
    transition: color 0.3s; /* Smooth transition for hover effect */
    text-decoration: none;
}

.nav-list a:hover {
    color: #6a82fb; /* Highlight color on hover */
}

.nav-list a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -3px; /* Adjust the position to place the underline below the text */
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
    background-color: var(--accent-font-color); /* Use accent color for consistency */
    visibility: hidden; /* Hide until hover */
}

.nav-list a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
    visibility: visible;
}

.main {
    text-align: center;
    padding: 40px 0;
}

.hero-title {
    font-family: 'Poppins', sans-serif;
    font-size: 40px; /* Larger size for prominence */
    font-weight: 700; /* Bold weight */
    color: #333; /* Dark color for contrast */
    text-transform: uppercase; /* Impactful presentation */
    letter-spacing: 1.5px; /* Slightly more spacing for larger text */
    margin: 20px 0; /* Adjusted spacing around the title */
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input {
    padding: 10px;
    font-size: 20px;
    border: 1px solid grey;
    border-radius: 10px 0 0 10px;
    outline: none;
    width: 350px;
}

.search-button {
    font-family: 'Poppins', sans-serif;
    padding: 7px 20px;
    font-size: 20px;
    font-weight: 500; /* Medium weight */
    color: white; /* Light text on dark backgrounds */
    background-color: #6a82fb; /* Modern and vibrant background */
    border: none; /* Removing default border */
    border-radius: 0 10px 10px 0; /* Rounded corners for modern look */
    cursor: pointer; /* Indicates button is clickable */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.search-button:hover {
    background-color: #fc5c7d; /* Change color on hover for interaction feedback */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px); /* Elements move up slightly as they fade in */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Applying the fade-in effect to header and other divs */
.header, .container, .main {
    animation: fadeIn 1s ease-out forwards; /* Adjust timing as necessary */
}

/* You might want to delay the animations for different elements */
.header {
    animation-delay: 0.2s; /* Header appears first */
}

.container {
    animation-delay: 0.4s; /* Then container */
}

.main {
    animation-delay: 0.6s; /* Finally, the main content */
}

#userProfile i.fa-user {
    font-size: 24px; /* Set the size of the icon */
    color: #333; /* Set the color of the icon */
    /* Additional styling */
}